* {
  user-select: none;
  outline: none;
}

html[theme='dark-mode'] {
  filter: invert(100%) hue-rotate(180deg);
}

body {
  background-color: white;
}

.contents {
  width: 100%;
  margin: auto;
}

.input-group {
  margin: 50px 0px;
}

.input {
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 1050px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: block;
  background-color: cornsilk;
  margin: auto;
}

.error-message {
  color: #cc0033;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
}

.input-group .error-message {
  display: none;
}

.input-group .error-message {
  display: none;
}

.menu {
  /* ! */
  display: flex;
  margin: 10px 15px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  background-color: gray;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  /* ! */
  transform: translateX(26px);
}
