.keyboard {
  background-color: gray;
  color: gray;
  width: 1050px;
  border-radius: 4px;
  margin: auto;
}

.row {
  display: flex;
}

.key {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform: 0.2s;
}

.active {
  background-color: #333;
  color: #fff;
}

.key:hover {
  background-color: lightslategray;
}

.key:active {
  background-color: #333;
  color: #fff;
}

.key .value {
  width: 100%;
  text-align: center;
}

.fn-key {
  width: 80px;
}

.space-key {
  width: 450px;
}

.back-space-key {
  width: 160px;
}

.tab-key {
  width: 95px;
}

.back-slash-key {
  width: 95px;
}

.caps-lock-key {
  width: 110px;
}

.left-shift-key {
  width: 145px;
}

.enter-key {
  width: 150px;
}

.right-shift-key {
  width: 185px;
}
